@import './color';

$list-color: (b: $blue, g: $green, y: $yellow);


@each $class, $value in $list-color{

    .color-#{$class}
       { background-color: $value;
         color: $white;
        border-radius: 5px;
        border: none;
        box-shadow: none;
        width: 10%;
        cursor: pointer;}
};