$myPaddingMargin: (sm: 0.5rem, md: 1rem, lg: 1.3rem, xl: 1.5rem);

@each $brPoint, $value in $myPaddingMargin{
    .p-#{$brPoint}{
        padding: $value;
    };
    .pt-#{$brPoint}{
        padding-top: $value;
    };
    .pb-#{$brPoint}{
        padding-bottom: $value;
    };
    .ps-#{$brPoint}{
        padding-left: $value;
    };
    .pe-#{$brPoint}{
        padding-right: $value;
    };
    .m-#{$brPoint}{
        margin: $value;
    };
    .mt-#{$brPoint}{
        margin-top: $value;
    };
    .mb-#{$brPoint}{
        margin-bottom: $value;
    };
    .ms-#{$brPoint}{
        margin-left: $value;
    };
    .me-#{$brPoint}{
        margin-right: $value;
    };

};